<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>About</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="assets/css/glyphicons.css"/>
        <link rel="stylesheet" href="assets/css/tether.min.css"/>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="assets/css/index.css"/>
    </head>
    <body>
        <h1>About TwinTron</h1>
        <nav id="mainNav">
            <ul class="nav nav-pills">
            </ul>
        </nav>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="assets/js/jquery-3.2.1.slim.min.js"></script>
        <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/tether.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="assets/js/q-require.js"></script>
        <script type="text/javascript">
        //Namespaces
        var TwinTron=TwinTron || {};
        </script>
        <script type="text/javascript" src="assets/js/main-bundle.js"></script>
        <script type="text/javascript">
        (function(doc,win,j$) {
            var page=new TwinTron.WebPageController({
                document: doc,
                window: win,
                jQuery: j$
            });
            doc.addEventListener("DOMContentLoaded", page.init.bind(page));
        })(document,window,jQuery.noConflict(true));
        </script>
    </body>
</html>
