<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>About</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="assets/css/index.css"/>
    </head>
    <body>
        <h1>About TwinTron</h1>
        <nav id="mainNav">
            <ul>
                <!-- <li><a id="mainBtn" href="index.common.html" class="btn btn-info"><span class="glyphicon glyphicon-circle-arrow-left"></span>Back to main</a></li> -->
            </ul>
        </nav>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/q-require.js"></script>
        <script src="assets/js/index.js"></script>
    </body>
</html>
