<!DOCTYPE html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="assets/css/glyphicons.css"/>
        <link rel="stylesheet" href="assets/css/tether.min.css"/>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="assets/css/index.css"/>
  </head>
  <body>
    <nav id="mainNav">
        <ul class="nav nav-pills">
        </ul>
    </nav>
    <iframe id="mainContainer" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
    </iframe>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="assets/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/tether.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="assets/js/q-require.js"></script>
    <script type="text/javascript">
    //Namespaces
    var TwinTron=TwinTron || {};
    </script>
    <script type="text/javascript" src="assets/js/main-bundle.js"></script>
    <!--
    REFACTORED: Moved this part to src/main.js
    <script type="text/javascript">
    (function(doc,win,j$) {
        var rootPage=new TwinTron.RootPageController({
            document: doc,
            window: win,
            jQuery: j$
        });
        doc.addEventListener("DOMContentLoaded", rootPage.init.bind(rootPage));
    })(document,window,jQuery.noConflict(true));
    </script>
    -->
  </body>
</html>